.input{
    width: 100%;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid gray;
    background-color: beige;
    outline: none;
    font: inherit;
    &:focus{
        outline: none;
        background-color:rgb(198, 199, 198) ;
    }
}

.textArea{
    width: 100%;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid gray;
    background-color: beige;
    outline: none;
    font: inherit;
    &:focus{
        outline: none;
        background-color:rgb(198, 199, 198) ;
    }
}
.label{
    padding-top: .5rem;
    font-weight: bold;
    display: block;
}

.invalid{
    border: 1px solid red;
    background-color: rgb(253, 225, 222);
}