.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}
.modalButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    button{
        border: 1px solid black ;
        padding: .5rem 1rem;
        margin: .5rem;
        border-radius: 200px;
        transition: all .2s;
        cursor: pointer;
        outline: none;
            &:hover{
                background-color: orange;
            }
    }
}
@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}