.order{
    padding: 5rem;
    width: 80%;
    margin: auto;
    margin-top: 5rem;
    background-color:rgba(255, 192, 203, 0.493);
    box-shadow: 0 1rem 4rem rgb(177, 175, 175);
    border-radius: 4rem 0 ;
}